<app-header></app-header>

<div class="pesquisa">

</div>

<main class="cards">
  <article class="card" *ngFor="let cerveja of cervejas">
    <img [src]="picture.imagem" alt="Sample photo">
    <div class="text">
      <h3>{{picture.nome}}</h3>
      <p class="info">Collaboratively administrate empowered markets via plug-and-play networks.</p>
      <li class="info">Preço: {{picture.preco}}</li>
      <li class="info">Teor: {{picture.teor}}</li>
      <li class="info">Quantidade: {{picture.quantidade}}</li>
      <li class="info">Estilo: {{picture.estilo}}</li>
      <button class="botao-info">Here's why</button>
    </div>
  </article>
</main>