.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-family: exo, sans-serif;
  justify-content: center;
}

.card {
  flex: 0 0 200px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  font-family: exo, sans-serif;
}

.card img {
  max-width: 100%;
}

.btn{
 float: right;
 margin: 50px;
}

.titulo{
  margin-top: 30px;
}